<div class="container">
  <div class="row">
    <div class="jumbotron main-banner">
      <h1 class="text-center">Sandbox for Devs!</h1>
      {{!-- <img src="" class="center-block" alt="burger" height="120"> --}}
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Ideas</div>
        <div class="panel-body">
          {{#each posts}}
          <p>
            {{id}}. {{body}}
              <form action="/post/join/{{this.id}}" method="POST">
                <input type="hidden" name="postId" value="{{this.id}}">
                <button type="submit" id="devour" margin="20px" class="btn btn-success">Join this idea</button>
              </form>
          </p>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" method="POST" action="/" class="button-size">
            <fieldset>
              <legend class="text-center col-xs-12">Write Idea</legend>
                <div class="form-group">
                  <div class="col-xs-12">
                    <input placeholder="IDEA" type="text" name="foo" class="form-control" >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-success btn-block">Idea!</button>
                  </div>
                </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Users</div>
        <div class="panel-body">
          {{#each users}}
          <p>
            {{id}}. {{user_name}}
          </p>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <form class="form-horizontal" method="POST" action="/user" class="button-size">
            <fieldset>
              <legend class="text-center col-xs-12">Create a Profile</legend>
                <div class="form-group">
                  <div class="col-xs-12">
                    <input type="text" name="fooBar" class="form-control" >
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-xs-12">
                    <button type="submit" class="btn btn-success btn-block">User!</button>
                  </div>
                </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-6 col-md-6 col-lg-6">
      <div class="panel panel-default">
        <div class="panel-heading">Groups</div>
        <div class="panel-body">
          {{#each allGroups}}
          <p>
            {{id}}. {{PostId}}
          </p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

// // $.get("/api/groups/", function(data) {
// //   var postIds = data[i].PostId
// //   // For each book that our server sends us back
// //   for (var i = 0; i < data.length; i++) {
// //     // Create a parent div to hold book data
// //     if (postIds === 6) {
// //       console.log(postIds);
// //       // .push

// //       }
// //     }
// // });

// </script>

